<html> 
<head> 
<title>OrderForm</title> 
</head> 
<body bgcolor="skyblue"> 
<center><table bgcolor="grey" border=2></center> 
<caption><h2  style="color:red">A SAMPLE 
ORDERFORM</h2></CAPTION><br> 
<tr> 
<th style="color:blue">ITEM</th> 
<th style="color:blue">PRICE</th> 
<th style="color:blue">QUANTITY</th> 
<th style="color:blue">TOTAL PRICE</th> 
</tr> 
<tr> 
<td>DVD</td> 
<td>19.99</td> 
<td>2</td> 
<td>39.98</td> 
</tr> 
<tr> 
<td>CD</td> 
<td>12.99</td> 
<td>9</td> 
<td>116.91</td> 
</tr> 
<tr> 
<td>DISKETTE</td> 
<td>1.99</td> 
<td>24</td> 
<td>47.70</td> 
</tr> 
</table> 
</body> 
</html> 
